
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');
*{
  margin-top: 0;
  padding:  0px;
  box-sizing: border-box;
}
body{
  font-family: "Tw Cen MT",sans-serif;
}
.nav-link{
  color: forestgreen;
  &:hover{
    color: yellowgreen!important;
    &:visited{
      color: #0a3622;
    }
  }
}
